services:
  frontend:
    
    image: node:lts-alpine 
    container_name: react_app
    working_dir: /app
    ports:
     
      - "5173:5173"
    volumes:
      - .:/app 
    command: sh -c "npm install && npm run dev -- --host"